.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left:5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .button-inline{
      display:inline-block;
  }

  h1 {
      text-align:center;
  }

  .top-view{
      display:flex;
      justify-content:center;
  }

  .leftbtn {
      margin-right:10px;
  }

  .container {
      margin-top: 20px;
      border: 1px solid black;
      width:300px;
  }

  ul{
    padding-left:0;
    padding-right:0;
    margin:0;
    list-style-type: none;
  }

  li{
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .space-between {
      display:flex;
      justify-content: space-between;
  }

  .align-stars {
    display:flex;
    align-items:center;

  }
  .flex-center {
      display: flex;
      justify-content: center;
  }

  .visit-site{
    background-color:gray; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:23px;
    margin-bottom:0;
  }

  .padding-element{
    padding-left: 10px;
    padding-right: 10px;
  }

 /**new page css **/
 .align-together {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sizing {
	border:1px solid black;
	width:350px;
}

#url-link {
	width:260px;
	height:15px;

}

.align-center{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.align-icon {
  border-bottom:1px solid black;
      border-top:1px solid black;
      padding-left: 5px;
	  padding-right: 5px;
}

.align-evenly{
    display:flex;
  align-items: center;
  justify-content: space-evenly;
}

  .book-description{
  	width:260px;
  	height:200px;

  }

  .add-page{
  	padding-left: 40px;
  	margin-top:10px;
  	margin-bottom:10px;
  }

  .flex-center {
  	display:flex;
  	justify-content: center;
  	margin-top:10px;
  	margin-bottom:10px;
  }

  .btn-padding {
    margin-bottom: 10px;
  }

  #add-title {
    width:100px;
    height:15px;
    margin:10px;
  }

li:hover {
    background-color: blue;
}


 